{% extends '::default.html.twig' %}

{% block title %}Contact{% endblock %}

{% block sidebar %}

  {% if google_maps.hasMaps() %}
    <div id="maps" class="inset-small">
      <h1>Locatie</h1>
      <div class="header"></div>
      <div class="items">
        {% for map in google_maps.getMaps() %}
          {% autoescape false %}{{ map.render }}{% endautoescape %}
        {% endfor %}
      </div>
      <div class="footer"></div>
    </div>
  {% endif %}

{% endblock %}


{% block body %}
  <h1>Contact formulier</h1>
  <form action="#" method="post" class="uniForm">
    {{ form_field(form) }}
    <div class="buttonHolder">
      <button type="submit" class="primaryAction">Submit</button>
    </div>
  </form>
{% endblock %}